/* style.css */
*{
    font-family: Roboto;
}
a:link, a:visited, a:hover, a:active { 
    color:#E5E7EB;
    text-decoration: none
}
ul {
  list-style-type: none;
}
.header{
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.header-links {
    display:flex;
    flex-flow:row wrap;
    gap:15px;
    padding-right:150px;
}
.header-logo{
    font-size:24px;
    color: #F9FAF8;
    padding-left:150px;
}
.hero, .footer{
    background-color: #1F2937;
}
.hero{
    display:flex;
    justify-content: center;
    padding:150px;
    flex-flow: row nowrap;
    gap:60px
}
.hero-main{
    font-size:48px;
    font-weight:900;
    color:#F9FaF8;
    flex-flow: row wrap;
    width:375px;
    height:125px;
}
.hero-sub, .header-links, .hero-button{
    font-size:18px;
    color: #E5E7EB;
}
.hero-sub{
    display:flex;
    flex-flow: row wrap;
    height: 45px;
    width:400px
}
.hero-img{
    display:flex;
    align-items: center;
    width:400px;
    height:200px;
    justify-content: center;
    background-color: #6D747D;
}
.hero-button, .cta-button, .cta-sub {
    background-color: #3882F6;
}
.info-main{
    font-size:36px;
    color:#1F2937;
    font-weight: 900;
    display:flex;
    justify-content: center;
    align-items: center; 
    margin:50px; 
}
.hero-button{
    border-radius:4px;
    display:flex;
    width: 150px;
    height:30px;
    justify-content: center;
    align-items: center;
}
.info-main-con{
    display:flex;
    flex-flow:row wrap;
    justify-content: center;
    align-items: center;
    min-height: 200px;
    min-width: 200px;
    gap:25px;
    margin-bottom: 120px;
}
.info-container{
    display:flex;
    flex-flow:column wrap;
    justify-content: center;
    align-items: center;
}
.info-img {
    display:flex;
    align-items: center;
    justify-content: center;
    height:160px;
    width:170px;
    border:#3882F6;
    border-style:solid;
    border-radius: 10px;
    background-color: #ffffff;
}
.info-sub {
    display:flex;
    flex-flow:row wrap;
    width: 170px;
    text-align: center;   
}
.quote{
    font-style: italic;
    font-size:36px;
    color:#1F2937;
    font-weight:300;
}
.quote-sec{
    display:flex;
    min-height:435px;
    align-items: center;
    flex-flow:column wrap;
    justify-content: center;
    background-color:#E5E7EB;
    height:435px;
    padding-left: 500px;
    padding-right:500px;
    flex-grow: 0;
}
.quote-by{
    display:flex;
    align-self:end;
}
.cta{
    display:flex;
    justify-content: center;
    align-items: center;
    height:350px;
}
.cta-container{
    display:flex;
    justify-content: center;
    align-items: center;
    height:145px;
    width:1025px;
    background-color: #3882F6;
    border-radius: 20px;
    flex-direction: row;
    gap:165px;
}
.cta-side{
    display:flex;
    flex-direction: column;
}
.cta-maintext{
    font-size:x-large;
    color:white;
    flex-shrink:0;
}
.cta-subtext{
    font-size:medium;
    color:white;
}
.cta-button{
    display:flex;
    justify-content: center;
    align-items: center;
    border-color: white;
    border-style: solid;
    height:45px;
    width:145px;
    border-radius: 15px;
    font-weight: bold;
    font-size:x-large
}
.footer{
    height:100px;
    color:white;
    display:flex;
    justify-content: center;
    font-size:x-large;
    align-items: center;
}